*~
target
configure
autom4te.cache
aclocal.m4
config.guess
config.h.in
config.h
config.sub
config.log
config.status
Makefile.in
compile
install-sh
ltmain.sh
missing
libtool
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile

*.deb
*.dsc
*.tar.*
*.o
*.a
*.la
*.lo
*.user
*.changes
.deps/
.libs/
.dirstamp
api/c++/debian/libmico-api1.links

*.iml
.idea
.classpath
.project
.settings
atlassian-ide-plugin.xml

doc/

kiwi-test.log
maven-eclipse.xml
broker/.externalToolBuilders
broker/graph.png
/api/java/event/src/main/java/eu/mico/platform/event/model/Event.java
