<configuration>
	<property>
		<name>hadoop.tmp.dir</name>
		<value>/tmp</value>
	</property>
	<property>
		<name>fs.defaultFS</name>
		<value>hdfs://%HDFS_HOSTNAME%:8020</value>
	</property>
	<property>
		<name>dfs.client.read.shortcircuit</name>
		<value>false</value>
	</property>
</configuration>
