<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

<!--   <servlet>
	<servlet-name>registration-api</servlet-name>
	<servlet-class>de.fraunhofer.idmt.mico.registration.client.RestClient</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
		<servlet-name>registration-api</servlet-name>
		<url-pattern>/registration/*</url-pattern>
  </servlet-mapping>
 -->     
  <welcome-file-list> 
    <welcome-file>index.html</welcome-file> 
  </welcome-file-list>
  
</web-app>