<html ng-app="brokerApp">
<head>
    <title>MICO Broker</title>

    <link rel="stylesheet" href="webjars/bootstrap/3.1.1/css/bootstrap.css"/>

    <script src="webjars/angular-file-upload/1.6.5/angular-file-upload-shim.min.js"></script>
    <script src="webjars/angularjs/1.2.15/angular.js"></script>
    <script src="webjars/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <script src="webjars/angular-file-upload/1.6.5/angular-file-upload.min.js"></script>
    <script src="js/controllers.js"></script>

    <!-- fix Bootstrap CSS for AngularJS -->
    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

        body {
            margin-left: 10%;
            margin-right: 10%;
        }

        td {
            padding: 5px;
        }

    </style>
</head>

<body ng-controller="InjectItemCtrl">


<div class="container-fluid">
    <h1>MICO Content Item Injection</h1>
</div>

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;" ng-show="!itemUri">
    <button ng-click="createContentItem()">Create New</button>
</div>



<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;" ng-show="itemUri">
    <h3>Metadata</h3>

    <table>
        <tr><th>URI</th><td>{{itemUri}}</td></tr>
        <tr>
            <th>State</th>
            <td>
                <div style="background-color: orange; color: lightyellow; text-align: center;">{{state}}</div>
            </td>
        </tr>
    </table>
</div>


<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px; border: 1px solid darkgray;" ng-repeat="part in itemData.parts">
    <h3>Content Part {{$index}}</h3>

    <table>
        <tr><th>URI</th><td><a href="/marmotta/resource?uri={{part.uri}}">{{part.uri}}</a></td></tr>
        <tr><th>Source</th><td>{{part.source}}</td></tr>
        <tr><th>Type</th><td>{{part.type}}</td></tr>
        <tr><th>Created</th><td>{{part.created}}</td></tr>
        <tr><th>Creator</th><td>{{part.creator}}</td></tr>
        <tr><th>Actions</th><td><a href="/marmotta/resource?uri={{part.uri}}">Metadata</a> - <a href="inject/download?partUri={{part.uri}}&itemUri={{itemUri}}">Download</a></td></tr>
    </table>
</div>


<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;" ng-show="itemUri && state != 'Submitted'">
    <h3>Add Content Part</h3>

    <p>
        Add one or more parts to the content item before starting analysis. The type for each part must be given and correspond to the type names
        (requires, provides) used by the analysis services registered with the broker. Typically, this means a MIME type like image/jpeg, image/png or text/plain.
    </p>


    <table>
        <tr><th>File</th><th>MIME Type</th><th></th></tr>
        <tr><td><input id="file" type="file" ng-file-select="onFileSelect($files)"></td><td><input type="text" id="type" name="type" value="{{type}}"/></td> <td><button ng-click="addContentPart()">Add Part</button></td></tr>
    </table>
</div>


<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;" ng-show="itemData.parts.length > 0  && state != 'Submitted'">
    <h3>Submit Content Part</h3>

    <p>
        Clicking on "Submit" will trigger analysis for the content item and its parts.
    </p>

    <button ng-click="submitContentItem()">Submit</button>
</div>


</body></html>