tomcat7 ALL=(ALL:ALL) NOPASSWD: /usr/share/mico/configurations/mico-config-extractors.sh /usr/share/mico/configurations/*.sh * * * start
tomcat7 ALL=(ALL:ALL) NOPASSWD: /usr/share/mico/configurations/mico-config-extractors.sh /usr/share/mico/configurations/*.sh * * * stop