<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.reflections" level="ERROR" />

    <logger name="eu.mico" level="DEBUG" />
    <logger name="eu.mico.plattorm.persistence" level="TRACE" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>


</configuration>