.header {
    border-bottom: 1px solid #e5e5e5;
    width: 1180px;
    height: 150px;
}

.header img {
    height: 130px;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
}

.container {
    width: 1180px;
    min-height: 800px;
}

.hidden {
	display: none;
}



.mimetype-checkbox .btn span.glyphicon {    			
	opacity: 0;
	padding-right: 5px;			
}
.mimetype-checkbox .btn.active span.glyphicon {				
	opacity: 1;
	padding-right: 5px;				
}

.extractor-input-data.bg-danger , .extractor-output-data.bg-danger{
	padding-top: 20px;
	padding-bottom: 20px;
	
	margin-top: -20px;
	margin-bottom: -20px;
}


.extractor-data-description {
	padding-bottom: 5px;
}
.extractor-param-description {
	padding-bottom: 5px;
}

.extractor-param-data ul{
	padding: 0 0 0 0;
	margin:  0 0 0 0;
}

.extractor-param-data .input-group{
	padding-bottom: 20px;
}

.extractor-param-data .form-group{
	padding-bottom: 20px;
}

.extractor-param-data .form-group .input-group{
	padding-bottom: 0px;
}

.extractor-param-data div.dropdown.input-group-btn ul {
	display: none;	
}

.extractor-param-data div.dropdown.input-group-btn.open ul {
    display: block;
    position: absolute;
}

.extractor-param-data ul label.btn.active span.glyphicon {    			
	opacity: 1;
	padding-right: 5px;			
}
.extractor-param-data ul label.btn span.glyphicon {    			
	opacity: 0;
	padding-right: 5px;			
} 

.help-block.with-errors{
	position: absolute;
	font-size: 12px;
}