Section: mico
Priority: optional
Maintainer: Marcel Sieland <marcel.sieland@idmt.fraunhofer.de>
Homepage: https://bitbucket.org/mico-project/mico-platform-config
Package: [[name]]
Architecture: all
Version: [[version]]
Depends: tomcat7 (>= 7.0.52), java8-runtime-headless, mico-broker, mico-extractor-configurations
Description: MICO platform configuration webapp
 This package contains the distribution of the MICO Platform Configuration Web Application.
