Package: mico-persistence
Version: 1.0.2
Architecture: amd64
Maintainer: Horst Stadler <horst.stadler@salzburgresearch.at>
Installed-Size: 28
Depends: proftpd-basic, mico-base
Section: mico
Priority: optional
Homepage: https://bitbucket.org/mico-project/platform
Description: Configure FTP server as MICO persistence server
 This package is a configuration-only package setting up ProFTPD as persistence
 server for the MICO platform.
