Section: mico
Priority: optional
Maintainer: Horst Stadler <horst.stadler@salzburgresearch.at>
Homepage: https://bitbucket.org/mico-project/platform
Package: [[name]]
Architecture: all
Version: [[version]]
Depends: tomcat7 (>= 7.0.52), java8-runtime-headless
Description: MICO Broker
 This package contains the distribution of the MICO Showcase Web Applications.
